<table class="table">
  <thead>
    <tr>
      <th><a (click)="onClick_Sort('FullName')">User</a></th>
      <th><a (click)="onClick_Sort('Name')">Measurement Tool</a></th>
      <th><a (click)="onClick_Sort('Score')">Score</a></th>
      <th><a (click)="onClick_Sort('DatePassed')">Date Passed</a></th>
      <th><a (click)="onClick_Sort('CountdownInDays')">Countdown in Days</a></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of results" class="{{item.CountdownInDays < 10? 'text-danger' : ''}}">
      <td>
        <a href="/User/Edit?userId={{item.UserId}}">{{ item.FullName }} ({{ item.Username }})</a>
      </td>
      <td>
        {{ item.Name }}
      </td>
      <td>
        {{ item.Score }}
      </td>
      <td>
        {{ item.DatePassed | date:'dd MMMM yyyy' }}
      </td>
      <td>
        {{ item.CountdownInDays }}
      </td>
    </tr>
  </tbody>
</table>